<div class="scroll-clientes">
  <div *ngIf="tarjetasPago.length > 0" class="tarjetas-pago-container">
    <h2 class="titulo-tarjetas-pago">Tarjetas de Pago</h2>
    <div class="lista-tarjetas-pago">
      <div *ngFor="let tarjeta of tarjetasPago" class="tarjeta-pago-item">
        <ng-container *ngIf="tarjeta.estado_tarjeta === true">
          <h1>Tarjetas activas</h1>
          <h3 class="titulo-tarjeta">Tarjeta {{ tarjetasPago.indexOf(tarjeta) + 1 }}</h3>
          <div class="campo-tarjeta">Nombre del Titular: {{ tarjeta.nombre_titular }}</div>
          <div class="campo-tarjeta">Dirección: {{ tarjeta.direccion }}</div>
          <div class="campo-tarjeta">Ciudad: {{ tarjeta.ciudad }}</div>
          <div class="campo-tarjeta">Estado tarjeta: {{ tarjeta.estado_tarjeta }}</div>
          <!-- Agrega aquí las clases y estilos adicionales según tus necesidades -->
        </ng-container>
      </div>
      <div *ngFor="let tarjeta of tarjetasPago" class="tarjeta-pago-item">
      
        <ng-container *ngIf="tarjeta.estado_tarjeta === false">
          <h1>Tarjetas Inactivas</h1>
          <h3 class="titulo-tarjeta">Tarjeta {{ tarjetasPago.indexOf(tarjeta) + 1 }}</h3>
          <div class="campo-tarjeta">Nombre del Titular: {{ tarjeta.nombre_titular }}</div>
          <div class="campo-tarjeta">Dirección: {{ tarjeta.direccion }}</div>
          <div class="campo-tarjeta">Ciudad: {{ tarjeta.ciudad }}</div>
          <div class="campo-tarjeta">Estado tarjeta: {{ tarjeta.estado_tarjeta }}</div>
          <!-- Agrega aquí las clases y estilos adicionales según tus necesidades -->
        </ng-container>
      </div>
    </div>
  </div>

  <div *ngIf="tarjetasPago.length === 0" class="sin-tarjetas-msg">
    <p>No se encontraron tarjetas de pago para el cliente.:c </p>
  </div>
</div>
